.movie-main-head {
  background-color: darkblue;
  padding-left: 40px;
  padding-right: 40px;

  .movie-text-head {
    font-size: 50px;
    color: white;
    text-transform: capitalize;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    margin-top: 30px;
    line-height: 1.8;
  }

  #myInput {
    background-image: url("../images/search-icon.png");
    background-position: 5px 9px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 18px;
    padding: 11px 20px 12px 48px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
}

.card-text {
  width: 300px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text:hover {
  text-overflow: none;
  white-space: normal;
}
